:root {
  --red: #e94445;
  --blue: #264c5e;
  --darkRed: #a34c50;
  --light: #cec2ae;
  --maroon: #4a2932;
}

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background: rgba(206,194,174,.15)
}

input[type='button']:hover, input[type='submit']:hover {
  cursor: pointer;
}

p {
  line-height: 1.5;
}

/******************************************
/* LAYOUT
/*******************************************/

main {
  padding: 25px 100px;
  display: flex;
}

@media screen and (max-width: 1050px) {
  main {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#section1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1.25rem;
  flex-basis: 25%;
}

@media screen and (max-width: 600px) {
  #section1 {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  #section1 {
    flex-basis: 100%;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
  }
}

#section1 h1 {
  color: var(--maroon)
}

#section1 input[type='text'] {
  color: var(--maroon);
  width: 75%;
  height: 35px;
}

@media screen and (max-width: 1050px) {
  #section1 input[type='text'] {
    text-align: center;
    margin: auto;
  }
}

#section1 input[type='submit'] {
  background: var(--light);
  color: var(--maroon);
  border: none;
  width: 75%;
  height: 35px;
}

@media screen and (max-width: 1050px) {
  #section1 input[type='submit'] {
    text-align: center;
    margin: auto;
  }
}

#section2 {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

@media screen and (max-width: 1050px) {
  #section2 {
    flex-basis: 100%;
    width: 100%;
    padding: 0;
  }
}

#section2 h2 {
  color: var(--red)
}

#section2 h3 {
  color: var(--darkRed)
}

.flexDiv {
  display: flex;
  margin-top: 1rem;
}

.spellDamage, .spellInfo {
  flex-basis: 50%;
}

#section2 p {
  margin: .25rem 0;
  max-width: 75%;
}

@media screen and (max-width: 600px) {
  #section2 p {
    max-width: 100%;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.spellButton {
  background: var(--maroon);
  color: white;
  border: none;
  width: 25rem;
  height: 35px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1050px) {
  .spellButton {
    margin: 0 auto 1rem;
  }
}